<body>
	<table width=500 border=0 cellpadding=0 cellspacing=0 bgcolor=#fff>
	  <tbody>
		<tr>
		  <td colspan=2 align=right><img src="{{HOST}}assets/img/logo.png" width=250 height=47 alt=logo Superprofe/></td>
		</tr>
		<tr>
		  <td colspan=2 width=500><img src="{{HOST}}assets/img/niños.png" width=500 height=146 alt=Niños Superprofe/></td>
		</tr>
		<table width=500 border=0 cellspacing=0 cellpadding=30>
		<tr>
		  <td colspan=2 bgcolor=#033 width=500>
		  <font color=#FFF size=+3 face=Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif>Hola</font><font color=#30A173 size=+1 face=Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif><br> Recibe un cordial saludo del equipo de Superprofe.co</font></td>
		</tr>
		</table>
		<table width=500 border=0 cellspacing=0 cellpadding=0>
			
			<tr>
				<td>
					<p>
					Ha habido un nuevo contacto desde la página de SuperProfe
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Nombre: {{NAME}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Apellido: {{LAST_NAME}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Teléfono: {{PHONE}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Correo: {{MAIL}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Inquietud: {{QUESTION}}</p>
				</td>
			</tr>
		</table>
		
		<table width=500 border=0 cellspacing=0 cellpadding=20>
		<tr>
		  <td bgcolor=#30A173><font color=#fff size=-1 face='Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif'>Queremos que no te preocupes nunca más por conseguir Profesor Particular, así que si necesitas otro Profesor o conoces a algún que lo pueda necesitar no dudes en contactarnos.</font></td>
		</tr>
		</table>
	   <table width=500 border=0 cellspacing=0 cellpadding=10>
		<tr>
		<td width=230></td>
		  <td><font color=#033 face=Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif>Que tengas un excelente día!<br>
	Seguimos en contacto,
	<br><strong>Nadezda Vera</strong></font></td>
		</tr>
		</table>   
	  </tbody>
	  <img src="{{HOST}}assets/img/logo.png" width=250 height=47 alt=logo Superprofe/><br>
	  <font color=#000 size=-1 face='Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif'>¡Nuestros profesores son súper héroes del conocimiento!<br>
		Tel.:+57 (1)3105513   Cel.  (+57) 301 470 5463 <br>
		Dir.: Calle 69 11 A - 33 Bogotá , Colombia.<br>
		E-mail:  hola@superprofe.co <br>
		Visite nuestra web: www.superprofe.co<br>
		Skype: super-profe<br>
		Twitter: @superprofecol</font>
</table>
</body>