<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>superprofe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style type="text/css">
		a {

			color: inherit;
		}
	</style>
</head>
 
<body style="margin: 0; padding: 0;">
	<table bgcolor="#F8F8F8" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
	  	<tbody>
			<tr>
			  <td colspan=2 align=left><img src="http://superprofe.co/assets/img/logo.png" width=250 height=47 alt=logo Superprofe/></td>
			</tr>
			<tr>
			  <td colspan=2 width=600><img src="http://superprofe.co/assets/img/niños.png" width=600 height=180 alt=Niños Superprofe/></td>
			</tr>
			<tr>
			  <td colspan=2 bgcolor=#033 width=600 style="padding: 20px 20px 20px 20px;">
			  <font color=#FFF size=+3 face= sans-serif>Hola {{STUDENT NAME}}</font><font color=#30A173 size=+1 face= sans-serif><br> Recibe un cordial saludo del equipo de Superprofe.co</font></td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 20px 20px 0px 20px;">
					<font color=#4D4D4D size=+1  face= sans-serif valing>
					¿Cómo estuvo tu clase?
					</font>
				</td>
			</tr>
			
			<tr>
				<td colspan=2 style="padding: 20px 40px 20px 40px;">
					<font color=#4D4D4D size=+1 face= sans-serif valing>
						Nos gustaría que nos ayudarás calificando al <font color=#30A173>profesor {{TEACHER NAME}}</font>, selecciona cuantas estrellas le colocarías y cuéntanos si tienes alguna felicitación o recomendación sobre la clase dictada.
					</font>
				</td>
			</tr>

			<tr>
			  <td colspan=2 width=200 align=center style="cursor: pointer;padding: 20px 40px 40px 40px;" ><a href="{{HOST}}clase/calificar/{{ID_CLASS}}/1"><img src="http://superprofe.co/assets/img/cta_calificar.png" width=200 height=66 alt=califica Superprofe/></a></td>
			</tr>
			<tr>

			<tr>
			  <td colspan=2 style="padding: 20px 20px 20px 20px;border-top: 2px dashed #4D4D4D;border-bottom: 2px dashed #4D4D4D;">
				<font color=#4D4D4D size=+1 face='sans-serif'>
			  	Si tienes alguna inquietud puedes escribirnos a hola@superprofe.co<br>
				o llamarnos al 301 470 546.<br>
				Seguimos en contacto, Equipo SuperProfe.co
				</font>
			  </td>
			</tr>
			
			<tr>
				<td align=right style="padding: 10px 10px 10px 10px;">
				</td>
			</tr>
			<tr>   
			  	<td colspan=2 align=center  bgcolor="#30A173" style="padding: 20px 20px 20px 10px;line-height:1.5;">
				  <font color=#FFFFFF size=-2 face='sans-serif'>
				  	¡Nuestros profesores son súper héroes del conocimiento!<br>
					Tel.:+57 (1)3105513   Cel.  (+57) 301 470 5463 Dir.: Calle 69 11 A - 33 Bogotá , Colombia.<br>E-mail:  hola@superprofe.co Visite nuestra web:<a href="http://superprofe.co/">www.superprofe.co</a><br>
					Skype: super-profe Twitter: @superprofecol
				</font>
				</td>
			</tr>
		</tbody>	
	</table>
</body>
</html>
