<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>superprofe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style type="text/css">
		a {

			color: inherit;
		}
	</style>
</head>
 
<body style="margin: 0; padding: 0;">
	<table bgcolor="#F8F8F8" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
	  	<tbody>
			<tr>
			  <td colspan=2 align=left><img src="http://superprofe.co/assets/img/logo.png" width=250 height=47 alt=logo Superprofe/></td>
			</tr>
			<tr>
			  <td colspan=2 width=600><img src="http://superprofe.co/assets/img/niños.png" width=600 height=180 alt=Niños Superprofe/></td>
			</tr>
			<tr>
			  <td colspan=2 bgcolor=#033 width=600 style="padding: 20px 20px 20px 20px;">
			  <font color=#FFF size=+3 face= sans-serif>Hola Administrador Superprofe</font><font color=#30A173 size=+1 face= sans-serif><br>
		      Recibe un cordial saludo</font></td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 20px 20px 0px 20px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Se ha solicitado una clase con las siguientes características:
					</font>
				</td>
			</tr>
			
			<tr>
				<td colspan=2 style="padding: 20px 40px 10px 40px;">
					<font color=#30A173 size=+1 face= sans-serif valing>
					Área: <font color=#4D4D4D>{{AREA}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 30px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Temática: <font color=#4D4D4D>{{TOPIC}}</font></font>
				</td>
			</tr>

			<tr>
				<td colspan=2 style="padding: 20px 20px 0px 20px;border-top: 2px dashed #4D4D4D;"></td>
			</tr>

			
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Nivel: <font color=#4D4D4D>{{LEVEL}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Fecha: <font color=#4D4D4D>{{DATE}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1 face= sans-serif valing>
					Hora: <font color=#4D4D4D>{{TIME}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Nombre del estudiante: <font color=#4D4D4D>{{STUDENT NAME}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1 face= sans-serif valing>
					Dirección: <font color=#4D4D4D>{{ADDRESS}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 10px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Correo electrónico del estudiante: <font color=#4D4D4D>{{EMAIL}}</font></font>
				</td>
			</tr>
			<tr>
				<td colspan=2 style="padding: 0px 40px 30px 40px;">
					<font color=#30A173 size=+1  face= sans-serif valing>
					Telefóno del estudiante: <font color=#4D4D4D>{{TEL}}</font></font>
				</td>
			</tr>

			<tr>
				<td align=center colspan=2 bgcolor="#eee" style="padding: 20px 10px 20px 20px;">
					<font color=#4D4D4D size=+1 face='sans-serif'>
			  	Por favor dirígete al panel administrativo y realiza el agendamiento en el menor tiempo posible.
				</font>
				</td>
			</tr>
			<tr>
				<td style="padding: 10px 20px 10px 20px;"></td>
			</tr>
			
			<tr>
				<td align=right style="padding: 10px 10px 10px 10px;">
				</td>
			</tr>
			<tr>   
			  	<td colspan=2 align=center  bgcolor="#30A173" style="padding: 20px 20px 20px 10px;line-height:1.5;">
				  <font color=#FFFFFF size=-2 face='sans-serif'>
				  	¡Nuestros profesores son súper héroes del conocimiento!<br>
					Tel.:+57 (1)3105513   Cel.  (+57) 301 470 5463 Dir.: Calle 69 11 A - 33 Bogotá , Colombia.<br>E-mail:  hola@superprofe.co Visite nuestra web:<a href="http://superprofe.co/">www.superprofe.co</a><br>
					Skype: super-profe Twitter: @superprofecol
				</font>
				</td>
			</tr>
		</tbody>	
	</table>
</body>
</html>