/*@import url(//fonts.googleapis.com/css?family=Lato:900);
@import url(../fonts/HelveticaNeueLTPro-LtCn.otf);*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:400);
@font-face {
font-family: 'HelveticaNeueLTPro';
src:url('../fonts/HelveticaNeueLTPro-LtCn.otf');
}
@font-face {
font-family: 'basictitlefont';
src:url('../fonts/basictitlefont.ttf');
}
@font-face{
font-family: 'Quicksand-Regular';
src:url('../fonts/Quicksand-Regular.ttf');
}
@font-face{
font-family: 'KlinicSlabBold';
src:url('../fonts/KlinicSlabBold.otf');
}
body{
    /*background-color: #f3f3f3;*/
    /*font-family:'HelveticaNeueLTPro';
    font-family:Segoe, "Segoe UI", "Dejavu Sans","Trebuchet MS", Verdana, sans-serif;*/
    font-family:'Quicksand', sans-serif;
    
}
section{
	overflow-x:visible;
}
h1{
    padding-top: 0px;
    margin-top: -25px;
    margin-bottom: 25px;
    font-size: 50px;
    color: #000000;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.body-admin
{

margin-top: 120px;
margin-left: 50px;

}
.img-area{
    height: 40%;
    width: 60%;
    margin: auto;
    display: block;
    border: 1px solid #003333;
}
.titulo-clases{
    padding-top: 90px;
    margin-top: 25px;
}
.img-reco{
    height: 330px;
width: 550px;
    margin: auto;
    display: block;
    border: 5px solid #003333;
}
.div-area{
border: 2px dashed #003333;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 10px;
padding-left: 25px;
margin-bottom: 35px;
}
.sep-footer{
padding-left: 10%;
}
.letra-profes{
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 40px;
    color: #000000;
    font-family:'basictitlefont';
}

.letra-div-area{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #143D29; 
    
}
.icono{
	font-size: 30px;
}
.sub-titulos{
	font-family:'basictitlefont';
	color:#143D29;
	}
iframe.google-form
{
    border: none;
    width: 100%;
    height:70%;
}
.texto-contactos{
	color:#fff;
}
.texto-nombre-profe{
	font-size: 28px;
	color:#009966;
}
.texto-descrip-profe{
	font-size: 22px;
	
}
.cont{
	
	font-size: 20px;
}
.navbar:nth-child(1)
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    width:100%;
}
.jumbotron.home-banner
{
	background: url('../img/fondo-imagen4.png') no-repeat center center;
	background-size: cover;
	background-attachment:fixed;
}
.panel-registro{
	border: 2px dashed #003333;
}
.form_contacto{
	margin-top: 82px;
}	
.panel-areas-inicio{
	margin-left:1px;
}
.bloque1{
display:inline-block;
width:20px;
height:10px;
background-color:rgb(192, 192, 192);
}
.bloque2{
display:inline-block;
width:20px;
height:10px;
background-color:#fff;
border: 1px solid #303030;
}
.bloque3{
display:inline-block;
width:20px;
height:10px;
background-color:#FF6600;
}
.perfil_profe_borde{
border-right: 2px dashed;
}
.navbar:nth-child(1) + .jumbotron FORM
{
    margin-top: 1%;
}
#necesito-prof{
    display:none;
    background: #F6F6EC;
    border-radius:4px;
    font-weight: 900;
    padding: 7px;
}
.txt-mensajes-1{

    background: #F6F6EC;
    border-radius:4px;
    font-weight: 900;
    padding: 7px;
    color:#666;

}
#mensaje-seguimiento-area,#mensaje-seguimiento-ciudad,#mensaje-seguimiento-hora,#mensaje-seguimiento-fecha,#mensaje-seguimiento-direccion{
    color:#FFF;
}
.txt-notif-profe{
	font-size:22px;
	color:#003333;

}
.busqueda_b{

    margin-top: 24px;
}
.titulo-2{
	border: 0px;
	background-color:#F6F6EC;
	font-size: 15px;
/*	width: 570px;*/
}
.fondo_panel{
	/*background-color: #F6F6EC;*/
	height: 360px;
/*	width:570px;*/
	
}
.reg-texto{
	font-size: 15px;
	padding: 15px 0 15px 0;
}
.primero{
	margin-top:30px;
}
.primero div.col-md-7{
	margin-top:15px;
}
.titulo-index{
	font-family: 'Quicksand-Regular';
	font-size: 60px;
	padding-left: 0px;
	color:#fff;
}
.navbar:nth-child(1) + .jumbotron .btn-primary
{
    /*background-color: rgba(255, 255, 255, 0);
    background-color: #143D29;*/
    background-color: #33A373;
    color: #FFFFFF;
    margin-top: 13%;
}
#separador-busqueda{

    border-style: dashed;
    border-width: 2px;
}
#separador-busqueda2{

    border-style: dashed;
    border-width: 2px;
    margin-top:15px;
    border-top: 1px solid #009966;
    color: #FFF;
    /*border-color:#003333;*/
}
.btn-estu,.btn-subir-foto,.btn-agregar{
	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 15px;
	text-align:center;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-subir-foto{
	width:250px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.btn-agregar{

	width:335px;
}
.borde-perfil-profe,.borde-perfil-profe2{

	border: 2px dashed #003333;
/*	font-family: 'basictitlefont';*/
	padding-bottom: 20px;
}
.borde-perfil-profe2{
	
	margin-top: 40px;
	
}
.video-inicial{
/*	margin-top:-48px*/
}
.btn-profe{
	background-color: #009966;
	color:#FFF;
	margin-top: 5%;
	/*text-transform:uppercase;*/
    	font-size: 15px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.chulo,.equis{
	float: right;
}
.chulo{
	color:#009900;
}
.equis{
	color:#CC0000;
}

#terminos{
     font-size: 14px;
     margin-bottom:10px;
}
.btn-soy-profe{
	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    	font-size: 15px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	height:92px;
}
.btn-registro-estu{
	background-color: #009966;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 26px;
	width: 330px;
	height: 129px;
	
	  resize: both;
	  overflow: auto;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-registro-profe, .btn-siguiente-registro{

	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    	font-size: 26px;
	text-align:center;
	width: 330px;
	height: 129px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-siguiente-registro{

	width: 275px;
	height: 70px;

}
.btn-registro-profe:hover, .btn-siguiente-registro:hover{

	background-color: #009966;
	
}
.btn-agregar:hover{
	background-color: #009966;
	color:#FFF;
}
.btn-registro-profe div,.btn-registro-estu div{
	
	padding:19px 15% 18px 14%;
	border: 2px dashed;
	width: 311px;
	margin-left: -3px;
}
.btn-siguiente-registro div{
	
	padding: 9px 11% 8px 9%;
	border: 2px dashed;
	width: 263px;
	margin-left: -7px;
}
.texto-1-profe{
	font-size:14px;
	border: 1px solid #ddd;
	padding: 10px 5px 10px 12px;
}
.bloque1-datos{
	margin-top: 30px;
	padding-top: 10px;
}
.asi-funciona,.btn-registro-profe div,.btn-registro-estu div{
	font-family: 'basictitlefont';
}
.btn-login{
	
	font-size:18px;
	width: 100%;
	height: 34px;
	

}
.datepicker{
cursor: pointer;
}
.input-bg{
background: #F6F6EC
}
.btn-busqueda-profe{
	width: 100%;
}
.redondo{
	background-color: #f6f6ec;
	border-radius: 5px;
	margin-top: 60px;
	padding-bottom: 30px;
}
.form-regis{
	background: url('../img/superprofe-clases-particulares.jpg') no-repeat;
height: 480px;
}
.btn-ingresa-aqui{
	background-color: #009966;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    	font-size: 18px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	height:92px;
}
.btn-ingresa-aqui div{

	padding:25px 25% 26px 22%;
	border: 2px dashed;
 	vertical-align: middle;
	margin-left: -6px;
	width: 296px;
}
.btn-soy-profe div{
	padding:25px 25% 26px 19%;
	border: 2px dashed;
 	vertical-align: middle;
	margin-left: -6px;
	width: 296px;
}
.btn-estu:hover{
	background-color: #33A373;
	color:#FFF;
	margin-top:12px;
   	font-size: 15px;
	text-decoration: none;
}
.btn-profe:hover{
	background-color: #143D29;
	color:#FFF;
	/*margin-top:12px;*/
    font-size: 15px;
}
.btn-estu span,.btn-profe span{
    border: 2px dashed;
    padding: 4px 20% 2px 15%;
}
.fondo_busqueda{
	background: url('../img/buscar1.jpg') no-repeat center;
	background-size: cover;
}
.error{
	padding-left:5%;
	color:#f00;
}
.panel_component{
	background-color: #F6F6EC;
	border: 0px;
	border-radius: 3%;
	padding: 19px;
}
.panel_busqueda{
	width: 36%;
	margin-top: 3.5%;
	margin-left: 5%;
	background-color: #F6F6EC;
	border: 0px;
	border-radius: 3%;
}
.columna-reg-1,.columna-reg-2{
	height: 865px;
}
.columna-reg-1,.columna-reg-3{
	border-right: 2px dashed #003333;
}
.navbar:nth-child(1) + .jumbotron .btn-primary span{

    border: 3px dashed #FFFFFF;
    padding: 3px 75px 3px 75px;

}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION
{
    padding-top: 30px;
    /*padding-bottom: 80px;*/
    margin-bottom: 0;
    margin-top: 0;
}
.jumbotron .phone-wrapper{
	color:#143D29;
	font-size: 22px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.txt-busqueda{
	margin-top:8px;
	font-size: 12px;

}
.txt-busqueda-mid{
	margin-top:8px;
	font-size: 12px;
	float:left;
	width:50%;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION .glyphicon
{
    margin: 40px auto;
    display: block;
    text-align: center;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION
{
    margin-top: 1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION > .carousel
{
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #34BFAD;
    color: #FFFFFF;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION > .carousel IMG
{
    border: 6px solid #FFFFFF;
    margin: 0 auto;
    display: block;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION > .carousel > .carousel-inner > .item
{
    margin-top: 36px;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION > .carousel > .carousel-inner > .item H4
{
    margin-top: 10px;
    font-weight: 100;
}
.fondo-bei{
	background: #F6F6EC;
	padding-top:15px;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION + SECTION
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar:nth-child(1) + .jumbotron + SECTION + SECTION + SECTION + SECTION .btn-primary
{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #34BFAD;
    color: #34BFAD;
    margin-top: 30px;
}
.navbar-brand
{
    font-family:'KlinicSlabBold';
    color: #495462 !important;
    padding-top: 0.5em;
    padding-bottom: 0;
font-size:40px;
    margin-top:-15px;
}
.navbar-brand > IMG
{
    vertical-align: bottom;
    margin-left: 6px;
    margin-right: 6px;
width:50px;
height:40px;
}
.navbar-brand > SPAN
{
    color: #317F52 !important;
}


ul.lista-abajo li a{
    color: #ffffff;
}-busqueda
ul.lista_estu {
   list-style-image: url('../img/1E.png');
}
.social-div
{
    margin-bottom: 21px;
}
.steps-center
{
    padding-top: 0px;
    margin-bottom: 0;
    margin-top: 0;
}
.steps-center IMG
{
    margin: 5px auto;
    display: block;
}
.footer
{
    padding-bottom: 40px;
    background-color: #009966;
    color:#143D29;
    width:100%;
}
#legal_modal IFRAME
{
    border: none;
    width: 100%;
    height: 300px;
}
.btn-facebook{

    color:#ffffff;
    background-color:#4965A0;
    border-color:#4965A0;
    /*border-radius: 5px;*/
}
.btn-facebook:hover{
    color:#ffffff;
    background-color:#415a8e;
}
.btn-linkedin{
    color:#fff;
    background-color:#3692C3;
    border-color:#3692C3
}
.btn-google{

    color:#ffffff;
    background-color:#DD4B39;
    border-color:#DD4B39;
    /*border-radius: 5px;*/
}
.btn-google:hover{
    color:#ffffff;
    background-color:#c64333;
}

.par{
    margin: 0 0 10px;
}
/*
.amigas-separator{
    
    background-color: #cccccc;
    height: 1px;
    margin-bottom: 20px;
}
*/
.img-header{
    height: 40px;
    width: 40px;
    border-radius: 150px;
    border: 1px solid #DDD;
}

.img-profile{
    height: 162px;
    width: 162px;
    border-radius: 150px;
    border: 1px solid #ddd;
    margin: auto;
	display:block;
}

.video-profile{
    width: 100%;
    margin-bottom:-15px;
    margin-left: 30px;
    margin-top: -15px;
}

.calendar-profile{
    height: 162px;
    width: 162px;
    margin: auto;
    background-color: #009966;
}

.align-img-calendar{
    margin:auto;
    color:#fff;
    text-align: center;
}
textarea{
    resize:none;
}
.estrellas{

    margin-left: 0%;
    margin-top: 20px;
	margin-bottom: 20Px;
	font-size: 100%;
}
.estrellas-puestas{
	color:#FFCC00;
    	
}
.estrellas span{
    cursor: pointer;
    margin-left: 5%;
/*    margin-top: 35%;*/
    font-size: 145%;
}
.left-arrow{
	width: 100px;
	height: 100px;
	background-image: url("../img/left-arrow.png");
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	background-size: contain;
	margin-left: -100px;
}
.right-arrow{
	width:100px;
	height: 100px;
	background-image: url("../img/left-arrow.png");
	display: block;
	position: absolute;
	top: 50%;
	right: -100px;
	margin-top: -70px;
	background-size: contain;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}
.black-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#000;
	border: solid 1px transparent;
	margin:0px 5px;
}
.white-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#fff;
	border: solid 1px #000;
	margin:0px 5px;
}
.green-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#009966;
	border: solid 1px transparent;
	margin:0px 5px;
}
.legend{
	width:300px;
	height:20px;
	margin:10px auto;
}
.promo-code{
	width:300px;
	height:40px;
	background-color:#F6F6EC;
	border:none;
	display:block;
	margin:auto;
}
.promo-section{
	padding-top:50px;
}
.btn-schedule{
	padding: 10px;
	border: dashed 2px #fff;
	width: 263px;
	text-align: center;
	background-color: #096;
	color: #fff;
	outline: solid 5px #096;
	font-size: 15px;
	margin:20px auto;
	display:block;
}
.numero-competencia{
    background: #009966;
    display: inline;
    width: 20px;
    color: #FFF;
    font-size: 12px;
    height: 19px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 8px;
    padding-right: 5px;
}
.valor-competencia{
    background: #E3E3E3;
    display: inline;
    width: 140px;
    color: #9F9F9F;
    font-size: 12px;
    height: 19px;
    padding-left: 12px;
    padding-right: 12px;
}
.borrar-competencia{
    background: #009966;
    display: inline;
    width: 20px;
    color: #FFF;
    font-size: 12px;
    height: 19px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 5px;
    padding-left: 8px;
	cursor:pointer;
}/*
.form-group
{position:relative;}*/

.delete-group{
	width:20px;
	height:20px;
	background-image: url(../img/btn_close.jpg);
	background-size:cover;
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
}
.mensaje-busqueda-realizada{
	background-color:#F6F6EC;
	font-weight: bold;
	font-size: 18px;
	color: #033333;
}
.panel-perfil{
	border: 0px;
	background-color:#F6F6EC;
	padding-top:10px;
	border-radius: 7px;
	width: 95%;
}
.txt-panel-perfil
{
	font-size:15px;
}
.tt-txt-panel-perfil
{
	font-size:20px;
	font-weight: bold;
}
.centrado{
	max-width: 1200px;
	margin: auto;
}
#programada, #finalizada{
	text-align: center;
	margin-top: 30px;
}
.fc-left {
	padding: 20px;
	color:#009966;
}

#previewimage:hover{
-webkit-filter: invert(70%);
}

.label-form{

	font-size:13px;

}

.profe-features .form-group {
	margin-bottom: 15px;
	position: relative;
	border-bottom: solid 1px;

}

.form-group-1{
	margin-bottom: 15px;
	position: relative;

}



/*-------- Nuevos ----------*/

/*-------- Index ----------*/

	.container {

		width: 100% !important;
	}

	.row {

		margin: 0;
	}
	
	



/*-------- Perfil-Estudiante ----------*/

.grey-backgorund {

	background-color: #FAFAFA;
}

.estudiante-container {

	padding-top: 100px;
}

.perfil-col {

	border: 2px dashed #003333;
	padding-bottom: 20px;

}

.btn-radius {

	border-radius: 5px;
}

.btn-subir-foto:hover {
	
	color: white;
	background-color: #009966;
	font-size: 
}

.btn-subir-foto { 
	
	font-size: 16pt;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 25px;
	width: 175px;
	position: relative; 
}

.btn-act {

	background-color: #2997E2;
	text-align: center;
	color: white !important;
}


.btn-subir-foto p {
	
	display: inline;
}

.btn-subir-foto img {
	
	height: 26px;
	position: absolute;
	right: 12px;
	top: 7px;
}


.texto-1-profe {

	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border: none;
}

.input-div {

	background-color: rgba(237, 237, 237, 0.45);
	border-radius: 5px;
	min-height: 30px;
}

p {
	margin: 0;
}

.input-div p {

	font-size: 18px;
	padding-left: 10px;
	padding-top: 2px;
}

.label-form {

	font-size: 18px;
}

.texto-1-profe input {

	min-height: 30px;
	padding-left: 10px;
	font-size: 18px;
}

.datepicker {

	margin-bottom: 25px;
}

input.datepicker {

	font-size: 16px;
	text-align: center;
	padding-left: 0;

}