	/*@import url(//fonts.googleapis.com/css?family=Lato:900); @import url(../fonts/HelveticaNeueLTPro-LtCn.otf);*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400);

@font-face {
font-family: 'HelveticaNeueLTPro';
src:url('../fonts/HelveticaNeueLTPro-LtCn.otf');
}
@font-face {
font-family: 'basictitlefont';
src:url('../fonts/basictitlefont.ttf');
}
@font-face{
font-family: 'Quicksand-Regular';
src:url('../fonts/Quicksand-Regular.ttf');
}
@font-face{
font-family: 'KlinicSlabBold';
src:url('../fonts/KlinicSlabBold.otf');
}



body{
    /*background-color: #f3f3f3;*/
    /*font-family:'HelveticaNeueLTPro';
    font-family:Segoe, "Segoe UI", "Dejavu Sans","Trebuchet MS", Verdana, sans-serif;*/
    font-family:'Quicksand', sans-serif;
    
}
section{
	overflow-x:visible;
}
h1{
    padding-top: 0px;
    margin-top: -25px;
    margin-bottom: 25px;
    font-size: 50px;
    color: #000000;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.body-admin
{

margin-top: 120px;
margin-left: 50px;

}
.img-area{
    height: 40%;
    width: 60%;
    margin: auto;
    display: block;
}
.titulo-clases{
    padding-top: 90px;
    margin-top: 25px;
}
.img-reco{
    height: 330px;
width: 550px;
    margin: auto;
    display: block;
    border: 5px solid #003333;
}
.div-area{
border: 2px dashed #003333;
padding-top: 30px;
padding-bottom: 30px;
padding-right: 10px;
padding-left: 25px;
margin-bottom: 35px;
}
.sep-footer{
padding-left: 10%;
}
.letra-profes{
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 40px;
	color: #000000;
	font-weight: 100;
	font-family: 'basictitlefont';
	text-transform: uppercase;
}

.letra-div-area{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #143D29; 
    
}
.icono{
	font-size: 30px;
}
.sub-titulos{
	font-family:'roboto';
	color:#143D29;
	}
iframe.google-form
{
    border: none;
    width: 100%;
    height:70%;
}
.texto-contactos{
	color:#fff;
}
.texto-nombre-profe{
	font-size: 28px;
	color:#009966;
}
.texto-descrip-profe{
	font-size: 22px;
	
}
.cont{
	
	font-size: 20px;
}

.jumbotron.home-banner
{
	background: url('../img/fondo-imagen4.png') no-repeat center center;
	background-size: cover;
	background-attachment:fixed;
}
.panel-registro{
	border: 2px dashed #003333;
}
.form_contacto{
	margin-top: 82px;
}	
.panel-areas-inicio{
	margin-left:1px;
}
.bloque1{
display:inline-block;
width:20px;
height:10px;
background-color:rgb(192, 192, 192);
}
.bloque2{
display:inline-block;
width:20px;
height:10px;
background-color:#fff;
border: 1px solid #303030;
}
.bloque3{
display:inline-block;
width:20px;
height:10px;
background-color:#FF6600;
}
.perfil_profe_borde{
border-right: 2px dashed;
}

#necesito-prof{
    display:none;
    background: #F6F6EC;
    border-radius:4px;
    font-weight: 900;
    padding: 7px;
}
.txt-mensajes-1{

    background: #F6F6EC;
    border-radius:4px;
    font-weight: 900;
    padding: 7px;
    color:#666;

}
#mensaje-seguimiento-area,#mensaje-seguimiento-ciudad,#mensaje-seguimiento-hora,#mensaje-seguimiento-fecha,#mensaje-seguimiento-direccion{
    color:#FFF;
}
.txt-notif-profe{
	font-size:22px;
	color:#003333;

}
.busqueda_b{

    margin-top: 24px;
}
.titulo-2{
	border: 0px;
	background-color:#F6F6EC;
	font-size: 15px;
/*	width: 570px;*/
}
.fondo_panel{
	/*background-color: #F6F6EC;*/
	height: 360px;
/*	width:570px;*/
	
}
.reg-texto{
	font-size: 15px;
	padding: 15px 0 15px 0;
}
.primero{
	margin-top:30px;
}
.primero div.col-md-7{
	margin-top:15px;
}
.titulo-index{
	font-family: 'Quicksand-Regular';
	font-size: 60px;
	padding-left: 0px;
	color:#fff;
}

#separador-busqueda{

    border-style: dashed;
    border-width: 2px;
}
#separador-busqueda2{

    border-style: dashed;
    border-width: 2px;
    margin-top:15px;
    border-top: 1px solid #009966;
    color: #FFF;
    /*border-color:#003333;*/
}
.btn-estu,.btn-subir-foto,.btn-agregar{
	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 15px;
	text-align:center;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-subir-foto{
	width:250px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.btn-agregar{

	width:335px;
}
.borde-perfil-profe,.borde-perfil-profe2{

	border: 2px dashed #003333;
/*	font-family: 'roboto';*/
	padding-bottom: 20px;
}
.borde-perfil-profe2{
	
	margin-top: 40px;
	
}
.video-inicial{
/*	margin-top:-48px*/
}
.btn-profe{
	background-color: #009966;
	color:#FFF;
	margin-top: 5%;
	/*text-transform:uppercase;*/
    	font-size: 15px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.chulo,.equis{
	float: right;
}
.chulo{
	color:#009900;
}
.equis{
	color:#CC0000;
}

#terminos{
     font-size: 14px;
     margin-bottom:10px;
}
.btn-soy-profe{
	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 18px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	height:92px;
}
.btn-registro-estu{
	background-color: #009966;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 26px;
	width: 330px;
	height: 129px;
	
	  
	  overflow: auto;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-registro-profe, .btn-siguiente-registro{

	background-color: #003333;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    font-size: 26px;
	text-align:center;
	width: 330px;
	height: 129px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}
.btn-siguiente-registro{

	width: 275px;
	height: 70px;

}
.btn-registro-profe:hover, .btn-siguiente-registro:hover{

	background-color: #009966;
	
}
.btn-agregar:hover{
	background-color: #009966;
	color:#FFF;
}
.btn-registro-profe div,.btn-registro-estu div{
	
	padding:19px 15% 18px 14%;
	border: 2px dashed;
	width: 311px;
	margin-left: -3px;
}
.btn-siguiente-registro div{
	
	padding: 9px 11% 8px 9%;
	border: 2px dashed;
	width: 263px;
	margin-left: -7px;
}
.texto-1-profe{
	font-size:14px;
	border: 1px solid #ddd;
	padding: 10px 5px 10px 12px;
}
.bloque1-datos{
	margin-top: 30px;
	padding-top: 10px;
}
.asi-funciona,.btn-registro-profe div,.btn-registro-estu div{
	font-family: 'basictitlefont';
}
.btn-login{
	
	font-size:18px;
	width: 100%;
	height: 34px;
}
.datepicker{
cursor: pointer;
}
.input-bg{
background: #F6F6EC
}
.btn-busqueda-profe{
	width: 100%;
}
.redondo{
	background-color: #f6f6ec;
	border-radius: 5px;
	margin-top: 60px;
	padding-bottom: 30px;
}
.form-regis{
	background: url('../img/superprofe-clases-particulares.jpg') no-repeat center;
	height: 480px;
}
.btn-ingresa-aqui{
	background-color: #009966;
	color:#FFF;
	margin-top:12px;
	/*text-transform:uppercase;*/
    	font-size: 18px;
	width: 310px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	height:92px;
}
.btn-ingresa-aqui div{

	padding:25px 25% 26px 22%;
	border: 2px dashed;
 	vertical-align: middle;
	margin-left: -6px;
	width: 296px;
}
.btn-soy-profe div{
	padding:25px 25% 26px 19%;
	border: 2px dashed;
 	vertical-align: middle;
	margin-left: -6px;
	width: 296px;
}
.btn-estu:hover{
	background-color: #33A373;
	color:#FFF;
	margin-top:12px;
   	font-size: 15px;
	text-decoration: none;
}
.btn-profe:hover{
	background-color: #143D29;
	color:#FFF;
	/*margin-top:12px;*/
    font-size: 15px;
}
.btn-estu span,.btn-profe span{
    border: 2px dashed;
    padding: 4px 20% 2px 15%;
}
.fondo_busqueda{
	background: url('../img/buscar1.jpg') no-repeat center;
	background-size: cover;
}
.error{
	padding-left:5%;
	color:#f00;
}
.panel_component{
	background-color: #F6F6EC;
	border: 0px;
	border-radius: 3%;
	padding: 19px;
}
.panel_busqueda{
	width: 36%;
	margin-top: 3.5%;
	margin-left: 5%;
	background-color: #F6F6EC;
	border: 0px;
	border-radius: 20px;
}
.columna-reg-1,.columna-reg-2{
	height: 865px;
}
.columna-reg-1,.columna-reg-3{
	border-right: 2px dashed #003333;
}


.jumbotron .phone-wrapper{
	color:#143D29;
	font-size: 22px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.txt-busqueda{
	margin-top:8px;
	font-size: 12px;

}
.txt-busqueda-mid{
	margin-top:8px;
	font-size: 12px;
	float:left;
	width:50%;
}


.fondo-bei{
	background: #F6F6EC;
	padding-top:15px;
}

.navbar-brand
{
    font-family:'KlinicSlabBold';
    color: #495462 !important;
    padding-top: 0.5em;
    padding-bottom: 0;
	font-size:40px;
    margin-top:-1px;
}
.navbar-brand > IMG
{
    vertical-align: bottom;
    margin-left: 6px;
    margin-right: 6px;
width:50px;
height:40px;
}

.navbar-brand > SPAN
{
    color: #317F52 !important;
}


ul.lista-abajo li a{
    color: #ffffff;
}-busqueda
ul.lista_estu {
   list-style-image: url('../img/1E.png');
}
.social-div
{
    margin-bottom: 21px;
}
.steps-center
{
    padding-top: 0px;
    margin-bottom: 0;
    margin-top: 0;
}
.steps-center IMG
{
    margin: 5px auto;
    display: block;
}
.footer
{
    padding-bottom: 40px;
    background-color: #009966;
    color:#143D29;
    width:100%;
}
#legal_modal IFRAME
{
    border: none;
    width: 100%;
    height: 300px;
}
.btn-facebook{

    color:#ffffff;
    background-color:#4965A0;
    border-color:#4965A0;
    /*border-radius: 5px;*/
}
.btn-facebook:hover{
    color:#ffffff;
    background-color:#415a8e;
}
.btn-linkedin{
    color:#fff;
    background-color:#3692C3;
    border-color:#3692C3
}
.btn-google{

    color:#ffffff;
    background-color:#DD4B39;
    border-color:#DD4B39;
    /*border-radius: 5px;*/
}
.btn-google:hover{
    color:#ffffff;
    background-color:#c64333;
}

.par{
    margin: 0 0 10px;
}
/*
.amigas-separator{
    
    background-color: #cccccc;
    height: 1px;
    margin-bottom: 20px;
}
*/
.img-header{
    height: 40px;
    width: 40px;
    border-radius: 150px;
    border: 1px solid #DDD;
}

.img-profile{
    height: 162px;
    width: 162px;
    border-radius: 150px;
    border: 1px solid #ddd;
    margin: auto;
	display:block;
}

.video-profile{
    width: 100%;
    margin-bottom:-15px;
    margin-left: 30px;
    margin-top: -15px;
}

.calendar-profile{
    height: 162px;
    width: 162px;
    margin: auto;
    background-color: #009966;
}

.align-img-calendar{
    margin:auto;
    color:#fff;
    text-align: center;
}
textarea{
    resize:none;
}
.estrellas{

    margin-left: 0%;
    margin-top: 20px;
	margin-bottom: 20Px;
	font-size: 100%;
}
.estrellas-puestas{
	color:#FFCC00;
    	
}
.estrellas span{
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 145%;
}

.left-arrow{
	width: 100px;
	height: 100px;
	background-image: url("../img/left-arrow.png");
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	background-size: contain;
	margin-left: -100px;
}
.right-arrow{
	width:100px;
	height: 100px;
	background-image: url("../img/left-arrow.png");
	display: block;
	position: absolute;
	top: 50%;
	right: -100px;
	margin-top: -70px;
	background-size: contain;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}
.black-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#000;
	border: solid 1px transparent;
	margin:0px 5px;
}
.white-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#fff;
	border: solid 1px #000;
	margin:0px 5px;
}
.green-square{
	float:left;
	width:20px;
	height:20px;
	background-color:#009966;
	border: solid 1px transparent;
	margin:0px 5px;
}
.legend{
	width:300px;
	height:20px;
	margin:10px auto;
}
.promo-code{
	width:300px;
	height:40px;
	background-color:#F6F6EC;
	border:none;
	display:block;
	margin:auto;
}
.promo-section{
	padding-top:50px;
}

.btn-schedule{
	padding: 10px;
	border: dashed 2px #fff;
	width: 263px;
	text-align: center;
	background-color: #096;
	color: #fff;
	outline: solid 5px #096;
	font-size: 15px;
	margin:20px auto;
	display:block;
}

.numero-competencia{
    background: #009966;
    display: inline;
    width: 20px;
    color: #FFF;
    font-size: 12px;
    height: 19px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 8px;
    padding-right: 5px;
}
.valor-competencia{
    background: #E3E3E3;
    display: inline;
    width: 140px;
    color: #9F9F9F;
    font-size: 12px;
    height: 19px;
    padding-left: 12px;
    padding-right: 12px;
}
.borrar-competencia{
    background: #009966;
    display: inline;
    width: 20px;
    color: #FFF;
    font-size: 12px;
    height: 19px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 5px;
    padding-left: 8px;
	cursor:pointer;
}/*
.form-group
{position:relative;}*/

.delete-group{
	width:20px;
	height:20px;
	background-image: url(../img/btn_close.jpg);
	background-size:cover;
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
}
.mensaje-busqueda-realizada{
	background-color:#F6F6EC;
	font-weight: bold;
	font-size: 18px;
	color: #033333;
}

.panel-perfil{
	border: 0px;
	background-color:#F6F6EC;
	padding-top:10px;
	border-radius: 15px;
	width: 95%;
}

.txt-panel-perfil
{
	font-size:15px;
}
.tt-txt-panel-perfil
{
	font-size:20px;
	font-weight: bold;
	height: 44px;
	overflow: hidden;
}
.centrado{
	max-width: 1200px;
	margin: auto;
	text-align: center;
}
#programada, #finalizada{
	text-align: center;
	margin-top: 30px;
}
.fc-left {
	padding: 20px;
	color:#009966;
}

#previewimage:hover{
-webkit-filter: invert(70%);
}

.label-form{

	font-size:13px;

}

.profe-features .form-group {
	margin-bottom: 15px;
	position: relative;
	border-bottom: solid 1px;

}

.form-group-1{
	margin-bottom: 15px;
	position: relative;

}



/*------------------------------- Nuevos ---------------------------------*/




/*-------- Index ----------*/

	a.navbar-brand {

		padding-top: 7px;

	}

	.row {

		margin: 0;
	}
	
	.porqueusar-section div.col-md-4 {

		margin-bottom: 25px;

	}
	
	.col-md-6.columna-reg-1 {

		height: auto;
	}

	.col-md-6.columna-reg-2 {

		height: auto;
		margin-top: 25px;
	}

	.reg-texto.col-md-7.col-md-offset-3 {

		text-align: left;
	}

	
/*-------- Globales ----------*/

.margin-top {

	margin-top: 200px;
}

.trasition-half {

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.navbar-fixed-top {

	padding-top: 21px;

}
.navbar-brand {
	
	margin-top: -12px;

}

.panel-perfil .estrellas {

	margin-bottom: 10px;
}

.panel-perfil h3.medalla-tag {

	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(253, 147, 27);
	font-size: 20pt;
	font-weight: 600;
}

.panel-perfil img.img-profile {

	width: 160px;
	height: 160px;
}

.panel-perfil .medallas-profesor{

	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.panel-perfil .medallas-profesor img{

	width: 30px;
	height: auto;
}

.container#results-section {
    padding: 0;
    margin: 0;
    width: 100%;
}

.panel-body {

	padding: 20px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 60px;
}

.panel-perfil {

	max-width: 300px;
	width: initial;
	position: relative;
	min-width: 225px;
}

.text-center.tt-txt-panel-perfil , .capital-name {
	
    text-transform: capitalize;
}

/*-------- Perfil-Estudiante ----------*/

.grey-backgorund {

	background-color: #FAFAFA;
}

.estudiante-container {

	padding-top: 80px;
}

.perfil-col {

	border: 2px dashed #003333;
	padding-bottom: 20px;

	margin-top: 5px;
	margin-bottom: 5px;

}

.btn-radius {

	border-radius: 5px;
}

.btn-subir-foto:hover {
	
	color: white;
	background-color: #009966;
	font-size: 
}

.btn-subir-foto { 
	
	font-size: 16pt;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 25px;
	width: 175px;
	position: relative; 
}

.btn-act {

	background-color: #2997E2;
	text-align: center;
	color: white !important;
}


.btn-subir-foto p {
	
	display: inline;
}

.btn-subir-foto img {
	
	height: 26px;
	position: absolute;
	right: 12px;
	top: 7px;
}


.texto-1-profe {

	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border: none;
}

.input-div {

	background-color: rgba(237, 237, 237, 0.45);
	border-radius: 5px;
	min-height: 30px;
}

p {
	margin: 0;
}

.input-div p {

	font-size: 18px;
	padding-left: 10px;
	padding-top: 2px;
}

.label-form {

	font-size: 18px;
}

.texto-1-profe input {

	min-height: 30px;
	padding-left: 10px;
	font-size: 18px;
}

.datepicker {

	margin-bottom: 25px;
}

input.datepicker {

	font-size: 16px;
	text-align: center;
	padding-left: 0;

}

div.estudios-grid  {
	
	display: inline-block;
	padding: 12px;
	line-height: 0;
	margin: 2px;
	width: 33%;
	background-color: #009244;
	color: white;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

span div.estudios-grid  {
	
	background-color: #033031;
	width: 62%;
}

.col-md-7.perfil-col {

	padding-left: 5%;
	padding-right: 5%;
}

.delete-group {
	
	
	right: 10px;
	top: 10px;
	
}

.btn-estudios {

	font-size: 14pt;
	width: auto;
	color: white !important;
}

.btn-estudios p {

	width: 60%;
	line-height: 1;
	margin-right: 10px;
	position: relative;
	top: 6px;
}

.btn-estudios img {

	position: relative;
	right: 2px;
	top: -10px;
	height: 40px;
}

.form-control {

	margin-bottom: 9px;
}

button.btn.btn-agregar.btn_agregar_estudios.btn-radius {

	font-size: 15pt;
	
}

/*-------- Perfil-Profesor ----------*/

.row.perfil-profesor {

	padding-bottom: 25px;
	padding-top: 25px;
}

.perfil-profesor-iz {

	border-right: 2px dashed black;
}

.perfil-profesor-iz h3 {

	text-align: left;
	margin-bottom: 25px;
	font-size: 24pt;
}

.img-profile {

	border: 5px solid #ddd;
	overflow: hidden;
	height: 200px;
	width: 200px;

}

.star-profesor {

	text-align: center;
}

.star-profesor span {

	margin-right: 7.5px;
	margin-left: 7.5px;
	font-size: 20pt;
}

.medallas-profesor  {

	text-align: center;
}

.medallas-profesor img {

	width: 75px;
	height: auto;
}
.no-medalla {

	opacity: 0.5;

}

.perfil-profesor-der  {

	padding-left: 5%;
	padding-right: 5%;
}

.perfil-profesor-der h3 {

	text-align: left;
	font-size: 28pt;
	margin-top: 100px;
	font-weight: 600;
}

.perfil-profesor-der p {

	font-size: 14pt;
	margin-top: 25px;
}

.ver-perfil-como {
	
	display: inline-block;
	text-align: right;
	width: auto;
	float: right;
	margin-top: 0;

}

.borrar-competencia,.valor-competencia, .numero-competencia {

	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 35px;
}

.borrar-competencia {

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.borrar-competencia:hover {

	background-color: #EF4836;
}

.numero-competencia {

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.numero-competencia.public-competencia {

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	cursor: default !important;
}

.row.experticia {

	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
}

.experticia h3 {

	font-size: 24pt;
	margin-bottom: 50px;
}

.experticia-input {

	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 14pt;
	background-color: #F7F7F7;
	border: none;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #9D9D9D;
	text-align: center;
	border: 2px transparent solid;
	margin-bottom: 25px;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}

.experticia-input:hover {

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	
	background-color: transparent;
	border: 2px #F7F7F7 solid;
	color:  #9D9D9D;
	
}

#hide_competencias {

	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#hide_competencias select {

	border: none;
	background-color: #F7F7F7;
	height: auto;
	font-size: 12pt;

	-webkit-box-shadow: none;
	box-shadow: none;
	
}

.title-profesor {

	font-family: "roboto";
	font-weight: 300 !important;
	color: #003333 !important;
	font-size: 28pt !important;
}

#areas-wrapper div {

	margin-bottom: 10px;
	margin-top: 10px;
}


.videos-profesor {
	
	border-bottom: 2px dashed black;

}



.suscribir-btn {

	float: right;
	margin-top: -45px;
	font-size: 18pt;
	
}

.container-videos {

	margin-top: 50px;
	margin-bottom: 50px;
}

.grid-exp {

	font-size: 12pt;
	display: inline-block;
	min-width: 145px;
	color: #009966;

}

.exp-var {

	color: grey;
	
}

.exp-profesor  {

	margin-top: 10px;
	padding-left: 10%;
	margin-bottom: 0;
	

}

#exp-wrapper-est, #exp-wrapper-pro {

	position: relative;
	
}



.delete-group.exp {

	position: relative;
	left: -40px;
	top: -55px;
	background-image: none;
	font-size: 16pt;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}

.delete-group.exp:hover{
	
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;

	color: #EF4836;

}


.agenda-profesor button {

	text-align: center;
	display: block;
}

.modal-dialog {

	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	
	
}

.modal-content {
	position: absolute;
	padding: 50px;
	background-color: white;
	border-radius: 10px;
	color: #575757;
	right: 30%;
	left: 30%;
	top: 25%;
	bottom: 25%;
	min-height: 300px;

}

.modal-content h1 {

	color: #575757;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 18pt;
}

.modal-body {

	color: #575757;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 11pt;
}

.modal-footer {

	text-align: center;
}

.modal-content button {

	margin-top: 20px;
	font-size: 16pt;
	border-radius: 5px;
	background-color: rgb(174, 222, 244);
	color: white !important;
	border: none;
	width: 100px;
	margin-top: 25px;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;

}


.modal-content button:hover {

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	
	border: none;
	color: white;
	background-color: rgb(196, 228, 242);

	

}

.progress {

	border-radius: 10px;
	overflow: hidden;
	margin-top: 20px;
}

.youtube-form form {

	width: 90%;
	margin-bottom: 50px;
}

.youtube-form input {

	margin-bottom: 0;
	width: 80%;
	min-width: 300px;
}
.youtube-form button {

	margin-top: 0;
	width: 100px; 
}

.datos-porfesor input {

	font-size: 14px;
	text-align: left;
	padding-left: 0;
	background-color: #F7F7F7;
	padding-left: 7.5px;
}

.col-md-6.perfil-profesor-der textarea {99

	font-size: 12pt;
	width: 95%;
	height: 300px;
	margin-right: 2.5%;
	border: none;
	text-align: justify;

} 

.btn-subir-foto.btn.bio-btn {

	text-align: center;
}

/*-------- Busqueda de Profesor ----------*/


.fondo_busqueda {
	
	background-position: center center;
}


.panel_busqueda {
	
	margin-top: 65px;
	width: 40%;
	min-width: 260px;

}


.registro-row {

	text-align: center;
}


.registro-col {

	text-align: center;
	min-width: 370px;
	display: inline-block;
	padding: 20px;
	padding-top: 23px;
	padding-bottom: 32px;
	border-radius: 10px;
	margin-top: 15vh;
}

.registro-col div.col-md-6 {

	
	display: inline-block;
	text-align: center; 

}

.btn-soy-profe.acudiente {

	background-color: #446CB3;
}



/*-------- Codigo promocional ----------*/

.row.code-gen-container {

	margin-top: 200px;

}

.code-gen-container .col-md-4 {

	text-align: center;

}

.code-gen-container h5 {

	display: inline-block;

}

.code-gen-container .datepicker{

	width: 100px;

}


.btn.btn-gen-code {
	
	width: 160px;
	margin-top: 0;
	
}

.col-md-6.col-xs-6.div-area div:not(.btn-gen-code) {
	
	margin-top: 10px;

}

#codigo-promocional {

	font-size: 25px;
	color: #009966;
	width: 300px;
	text-align: center;
	
}
.background-code {

	background: rgb(236, 236, 236);
	min-height: 35px;
	background-color: whitesmoke;
	text-align: center;

}

.code-gen-container .div-area {

	padding: 20px;
	padding-top: 15px;
}

.code-gen-container h3 {

	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
}

.date-picker-gen .col-md-6 {

	text-align: center;
}


.row.container-videos .col-md-4 {

	margin-bottom: 30px;
}

.row.container-videos .col-md-4 .delete-group.vid {
	position: absolute;
	right: 25px;
	left: initial;
	top: 5px;
	background-image: none;
	font-size: 16pt;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	color: white;
	z-index: 99;
}

.row.container-videos .col-md-4 .delete-group.vid:hover{
	
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;

	color: #EF4836;

}

.date-picker-gen .datepicker {

	background-color: whitesmoke;
}

.date-picker-gen input.datepicker {

	margin-bottom: 5px;
}

.input-value * {

	display: inline-block;

}

.input-value  {

	margin-top:0;

}

/* ---------------------------- Landing ------------------------- */


.jumbo-landing {

	margin-top: 80px;
	padding: 0;
	font-weight: 100;
	

}

.jumbo-landing h1 {

	font-family: 'roboto', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

.jumbo-landing span {

	color: #00B579;
}


.jumbo-landing {
    position:relative;
    width:100%;
    height:auto;
    background-color: black;
    background-image:url(../img/back-landing.jpg);
    background-size: cover;
	background-attachment: fixed;
}

.jumbo-landing:before, .jumbo-landing:after {
    content:'';
    position:absolute;
    height:0;
    border-bottom:20px solid rgb(0, 181, 121);
    bottom:0;
}

.jumbo-landing:before {
    left:0;
    width:50%;
    border-right:30px solid transparent;
}
.jumbo-landing:after {
    left: 50%;
    right:0;
    border-left:30px solid transparent;
}


.img-land {

	padding: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 120px;

}

.landing-check {

	background-color:  rgb(0, 181, 121);
	padding: 10%;
	padding-top: 70px;
	padding-bottom: 70px;
	color: white;

}

.landing-check li {

	list-style: none;
	margin-bottom: 30px;
}

.landing-check ul {

	padding-left: 0;
}

.landing-check li img {

	width: 45px;
	margin-right: 10px; 
	
}

.circle-mask {

	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 50%;
	border: 10px solid #E6E6E6 ;
}

.circle-mask img {

	width: 100%;
	height: auto;
}


.check-title {

	margin-bottom: 50px;
}

h3 span {

	color: #003333;

}

#separador-busqueda-landing {
	
	border-style: dashed;
	border-width: 2px;
	margin: 0;
	position: relative;
	top: -32px;
	border-top: #00B579;
	color: white;
	margin-bottom: 70px;

}

.letra-profes {

	color: #003333;
}

.cta-perfil-profesor {

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #009966;
	text-align: center;
	color: white;
	cursor: pointer;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
}

.cta-perfil-profesor:hover {

	background-color: #143D29;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;

}

.cta-perfil-profesor h3 {

	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
}

.form-landing {

	width: 100%;
	min-height: 600px;
	background: url('../img/land-form-back.jpg') no-repeat center center;
  	background-size: cover;
  	background-attachment: fixed;
}
  

/* ---------------------------- Ranking ------------------------- */




.circle-number {

	margin: auto;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 10px;
	line-height: 42pt;
	font-size: 36pt;
	font-weight: 600;

}




/* ---------------------------- Ranking ------------------------- */

	
	.jumbo-testimonial h1 {
	    
	    margin-top: 50px;
	}	
	


	

	.jumbo-testimonial:before, .jumbo-testimonial:after {
	    content:none;
	    position:absolute;
	    display: none;
	}	
	



/* ----------------------------Ajustes Varios------------------------- */





.form-landing {

	padding-top: 70px;
}


.form-landing  {

	font-size: 18pt;
	color: white;
	padding-bottom: 70px;
}
.form-landing span  {

	color: #00B579;
}

.form-landing input  {

	border-radius: 5px;
	font-size: 12pt;
}

.landing-btn-form {

	width: 100%;
	background-color: #00B579;
	margin-top: 25px;

}

.form-landing p {

	margin-bottom: 25px;
}

.form-landing img {

	width: 50px;
	height: auto;
	margin-right: 10px;
}

.form-landing a img {

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	opacity: 1;

}

.form-landing a img:hover {

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	opacity: 0.5;

}

.container-testimonials-img {

	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 50%;

}

.testimonials-ctrl .row img {

	width: 100%;
	height: auto;
} 


.test-pack {

	margin-bottom: 50px;
}

.test-pack h5 {

	font-size: 11xpt;
}


.test-pack .col-md-12 {

	margin-top: 20px;
}

.heroes-thks h2 {

	margin-top: 50px;

}

.heroes-thks {

	min-height: 300px;

}
.heroes-ctrl h4 {

	margin-top: 22px;

}

img#icon-price {

	width: 25%;
	margin-left: 27.5;
	margin-right: 37.5;
}

.back-price {

	background-color: #009966;
	border-radius: 10px;
	text-align: center;
	color: white;
	padding: 20px;
}

.back-price h4 {

	font-size: 20pt;
	margin-top: -10px;
}

.back-price h5 {

	font-size: 14pt;
}

.back-price h6 {

	font-size: 11pt;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 36pt;
  color: #EAEAEA;
  padding-top: 0.5px;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  cursor: pointer;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;

}

.rating_up {
	color: #ffcc00;
}

/*
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #ffcc00;
   font-size: 36pt;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
}

*/

.comment-pack {

	padding: 10%;
	margin-bottom: 20px;
}



.comment-pack:nth-child(odd) {
    background-color: whitesmoke;
}


.popup-iniciar {

	position: absolute;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	color: #575757;
	right: 30%;
	left: 30%;
	top: 15vh;
	bottom: initial;
	min-height: 300px;
	min-width: 300px;

}

.popup-iniciar .close {

	background-color: red;
	opacity: 0.5;

}

.popup-iniciar .close:hover {

	background-color: red;
	opacity: 0.2;

}

button.popup-ingresar {

	width: 100%;
}


img.img-ranking {

	width: 50px;
	height: 50px;
	margin: 0;
	border: 3px #4164B3 solid;	
}



/* ---------------------------- Media Queries ------------------------- */


@media screen and (max-width: 992px) {
    
    .col-md-6.columna-reg-1 {

		border: none;
		border-bottom: 2px dashed black;
		padding:0; 
		
	}

	.col-md-6.columna-reg-2 {

		padding:0; 
		
	}

	.reg-texto.col-md-7.col-md-offset-3 {

		width: 100%;
		padding-left: 35%;
		padding-right: 35%;
		margin-bottom: 25px;
		padding-bottom: 25px;
		text-align: center;

	}

	.primero div.col-md-7 {

		margin-top: 0px;
	
	}


	.reg-texto.col-md-7.col-md-offset-3:nth-child(even) {

		background-color: #ECECEC;

	}

	.col-md-6.columna-reg-1 img {

		margin-bottom: 15px;
		margin-top: 25px;
		
	}
	
	.col-md-6.columna-reg-2 img {

		margin-bottom: 15px;
		margin-top: 25px;
		
	}


	.panel_busqueda {

		margin-top: 120px;
		margin-bottom: 50px;
	}

	.delete-group.exp {
	
	
		left: 50%;
		top: -108px;
	
	
	}

	.row.container-videos .col-md-4 .delete-group.exp {

	  left: 93%;
	  top: 13px;
	}	

	.test-pack  {

		text-align: center;

	}

	.perfil-profesor-iz {

  		border-right: none;
	}
}


@media screen and (max-width: 739px) {
    
    .registro-col {

		width: 375px;

	}

	.panel_busqueda {

		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.jumbotron.fondo_busqueda {

		padding: 0;
	}
}

@media screen and (max-width: 600px) {
    
    

	.reg-texto.col-md-7.col-md-offset-3 {

		width: 100%;
		padding-left: 25%;
		padding-right: 25%;
		margin-bottom: 25px;
		padding-bottom: 25px;

	}

	.popup-iniciar {

	position: absolute;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	color: #575757;
	right: 10%;
	left: 10%;
	top: 15vh;
	bottom: initial;
	min-height: 300px;
	min-width: 300px;

	}


	.borrar-competencia,.valor-competencia, .numero-competencia {

	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 35px;
}

	.valor-competencia {

		width: 300px;
	}



	.experticia-input {
	  width: 100%;
	  margin-right: 0; 
	  margin-left: 0; 
	  font-size: 12pt;
	  padding-left: 0;
	  text-align: center;
	}

	.rank-table .mobile-hide {

	display: none;
	}

}

@media screen and (max-width: 480px) {
    
   

	.landing-check {

	padding: 5%;
	padding-top: 70px;
	color: white;
	padding-bottom: 70px;

	}

	.img-land {

		padding-left: 20px;
		padding-right: 20px;
	}

	.img-land h1 {

		font-size: 28pt;
		text-align: center;
	}

	.landing-check h2 {

		font-size: 24px;
		text-align: center;

	}

	.landing-check h3 {

		font-size: 18px;

	}
	.landing-check h3 img {

		width: 25px;

	}

	.circle-mask  {

		width:  200px;
		height: auto;	
	}

	.rank-table * {

		font-size: 10pt;
	}

	.rank-table img {

		width: 30px;
		height: 30px;
		border: 1px;
	}
	
}

@media screen and (max-width: 400px) {
    
    .registro-col {

		width: auto;

	}


	.rating {
	  font-size: 20pt;
	}
	
	.rating > span:hover:before,
	.rating > span:hover ~ span:before {
	   font-size: 20pt;
	}

	
	.comment-pack p {

		font-size: 10pt;
	
	}

	.borrar-competencia,.valor-competencia, .numero-competencia {

		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 30px;
	}

	.btn-ingresa-aqui{
	
		width: 100%;
	}

	.btn-ingresa-aqui div {

	  padding: 25px 10% 26px 10%;
	  width: initial;
	  margin-left: -1px;
	}

	.titulo-index {

	  font-size: 39px;
	  text-align: center;
	  letter-spacing: -2.5px;
	  margin-bottom: 0;
	}

	.youtube-form .navbar-form .form-group {

	  margin-bottom: 5px;
	  text-align: center;
	}

	.youtube-form input {

	  min-width: 70vw;
	}
	.youtube-form form {
	  width: 100%;
	}

	.youtube-form button {
	  margin-top: 10px;
	}

	.row.container-videos .col-md-4 .delete-group.exp {
	  
	  left: 86%;
	  top: 5px;
	}
	
}



.perfil-titulo {
	height: 34px;
  	overflow: hidden;
}

.ver_mas_bt {
	border-radius: 15px;
	width: 100%;
	background-color: #009966;
	text-align: center;
	color: white;
	cursor: pointer;
	height: 40px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	margin-bottom:20px;
}

.ver_mas_bt h3 {
	margin-top:6px;
}